@page "/"

@inject IDialogService Dialog
<PageTitle>Home</PageTitle>

<h1>Welcome to KieTec</h1>

<div class="d-flex justify-start">
    <MudCard>
        <MudCardContent>
            <MudText>Developed by: </MudText>
            <MudText>Guilherme P Bandeira </MudText>
        </MudCardContent>

    </MudCard>
</div>




